{% extends 'base.html' %}
{% load static %}
{% block title %}Info Page {% endblock %}
{% block content %}

{% if user.is_authenticated %}
<div class="section_1">
    <div class="row">
        <div class="col-md-4">
            <section class="main_details">
                <div class="conatiner mx-3 my-3">
                    <div class="card">
                        <div class="card-body">
                            <h2 style="color: rgb(0, 149, 255);">My Post</h2>
                            </li>
                            <hr>
                            {% for post in object_list %}
                            <h5 class="card-title"><b>Title:
                                </b>{{post.title}}
                            </h5>
                            <p class="card-text"><b>Author: </b>{{post.author}}<br>
                                <b><a class="edit_anchor_2" href="{% url 'categories' post.category %}">Category:
                                    </a></b>{{post.category}}<br><br>
                                <small><a class="edit_anchor"
                                        href="{% url 'details' post.pk %}">{{post.snippet}}</a></small>
                                <!-- {% if post.body|length > 200 %}
                                    <b>Message: </b>{{post.body | slice:"200" | safe}}...
                                </p>
                                {% else %}
                                <b>Message: </b>{{post.body | slice:"200" | safe}}</p>
                                {% endif %} -->
                                <hr>
                                {% endfor %}

                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4">
            <section class="category">
                <div class="conatiner mx-3 my-3">

                    <ul class="list-group">
                        <li class="list-group-item">
                            <h2 style="color: rgb(255, 106, 0);">Category</h2>
                        </li>
                        {% for item in cat_menu %}
                        <li class="list-group-item"><a href="{% url 'categories' item %}">{{item}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>
{% else %}
<h1 style="text-align: center;
           top: 500px;">
    Login for more Info
</h1>
</div>

{% endif %}

<!-- <div class="container my-3">
    <div class="row">
        <div class="col-md-3 my-3 mx-3">
            <div class="card" style="width: 300px;">
                <img src="{% static 'images/thewayofcolor-JyOeDt0kRYc-unsplash.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 my-3 mx-3">
            <div class="card" style="width: 300px;">

                <img src="{% static 'images/dylan-pirozek-RzgGMz2kU94-unsplash.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div> -->



{% endblock %}