{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Password Changed Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/bundle.js' %}"></script>
</head>

<div class="section_2">

    <div class="text_2">
        Your Password was Changed..<br>

   <a class="nav-link " href="{% url 'info' %}"><button class="btn btn-secondary"
                type="submit"><img src="{% static 'images/home.png' %}"> Return to Home Page</button></a>

    </div>


</div>

</html>
{% endblock %}